@import "../Common/variables.scss";

.end-container {
  @include flex-column(center, flex-start);

  height: 100vh;

  background-color: $light-blue;
}

.end-title {
  @include flex-column(center, center);

  margin: 50px 0 0 0;
  width: 100vw;
  height: 80px;

  background-color: $dark-blue;

  text-align: center;
  color: $white;
}

.end-subtitle {
  @extend .end-title;
  margin: 0 0 100px 0;
  height: 90px;
}

.replay-button {
  @include flex-column(center, center);

  border-radius: 20px;
  box-shadow: 0 5px $light-grey;
  min-width: 100px;
  width: 10%;
  height: 30px;
  padding: 5px 0;

  cursor: pointer;
  background-color: $white;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: translateY(4px);
    box-shadow: 0 2px $dark-grey;
  }
}

.replay-text {
  margin: 0;

  font-size: 1.1rem;
  font-weight: bold;
  color: $dark-blue;
}
