.end-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  background-color: #0090ff;
}

.end-title {
  background-color: #1f375b;
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  margin: 50px 0 0 0;
}

.end-subtitle {
  @extend .end-title;
  margin: 0 0 100px 0;
  height: 90px;
}

.replay-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  box-shadow: 0 5px #aaadb3;
  min-width: 100px;
  width: 10%;
  height: 30px;
  padding: 5px 0;

  cursor: pointer;
  background-color: #ffffff;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: translateY(4px);
    box-shadow: 0 2px #83858a;
  }
}

.replay-text {
  color: #1f375b;
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
}
