@import "../variables.scss";

.button {
  @include flex-column(center, center);

  box-shadow: 0 5px $light-grey;
  border-radius: 20px;
  min-width: 100px;
  height: 30px;

  cursor: pointer;
  background-color: $dark-blue;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: translateY(4px);
    box-shadow: 0 2px $dark-grey;
  }
}
