.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 5px #aaadb3;
  border-radius: 20px;
  min-width: 100px;
  height: 30px;

  cursor: pointer;
  background-color: #1f375b;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: translateY(4px);
    box-shadow: 0 2px #83858a;
  }
}
