@import "../Common/variables.scss";

.home-container {
  @include flex-column(center, flex-start);

  height: 100vh;
}

.title {
  @include flex-column(center, center);

  margin: 0;
  width: 100vw;
  min-height: 150px;

  background-color: $dark-blue;

  text-align: center;
  color: $white;
}

.score {
  @include flex-column(center, center);

  margin: 0;
  border: solid 2px $dark-blue;
  border-top: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 300px;
  min-height: 50px;

  background-color: $white;

  color: $dark-blue;
}

.loader {
  margin: 100px 0 0 0;
  border: 5px solid $light-grey;
  border-top: 5px solid $light-blue;
  border-radius: 50%;
  width: 20px;
  height: 20px;

  animation: spin 1s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.players-container {
  @include flex-column(center, space-evenly);

  @media (min-width: $md) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  margin: 50px 0 0 0;
  width: 100vw;
}

.results-container {
  @include flex-column(center, space-evenly);

  @media (min-width: $sm) {
    width: 275px;
  }

  @media (min-width: $md) {
    width: 350px;
  }

  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: solid 2px $dark-blue;
  border-radius: 10px;
  width: 200px;
  height: 200px;

  background-color: $white;
}

.results-text {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: $dark-blue;
}

.next-text {
  margin: 0;

  color: $white;
}
