.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  width: 100vw;
  height: 150px;

  background-color: #1f375b;

  color: #ffffff;
}

.players-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  width: 100vw;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0 50px 0;
  border: solid 2px #1f375b;
  border-top: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 300px;
  height: 50px;

  background-color: #ffffff;

  color: #1f375b;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.results-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 200px;
  height: 200px;

  border: solid 2px #1f375b;
  border-radius: 10px;
}

.results-text {
  color: #1f375b;
  font-size: 1.2rem;
  font-weight: bold;
}

.next-text {
  color: #ffffff;
  margin: 0;
}
