@import "../Common/variables.scss";

.player-container {
  @include flex-column(center, flex-start);

  border: solid 5px $light-blue;
  border-radius: 10px;

  cursor: pointer;

  &:hover {
    background-color: $light-blue;
  }
}

.name {
  margin: 15px 0;

  font-size: 1.5rem;
  font-weight: bold;
  color: $dark-blue;
}

.fppg-text {
  @extend .name;

  margin: 0 0 10px 0;

  font-size: 0.9rem;
  text-transform: uppercase;
}
